/* Keyframes */

@keyframes blink-critical {
  to {
    /*color: @white;*/
    background-color: @critical;
  }
}

/* Styles */

/* Colors (gruvbox) */
@define-color black		#000000;
@define-color red		  #FF0000;
@define-color green		#008000;
@define-color yellow	#FFFF00;
@define-color blue		#0000FF;
@define-color purple	#800080;
@define-color aqua		#00FFFF;
@define-color gray		#808080;
@define-color white		#FFFFFF;
@define-color teal		#008080;

@define-color warning 	@yellow;
@define-color critical	@red;
@define-color mode      @yellow;
@define-color unfocused	@black;
@define-color focused	  @purple;
@define-color inactive	@gray;
@define-color sound		  @white;
@define-color network	  @white;
@define-color memory	  @white;
@define-color cpu		  @white;
@define-color temp		@white;
@define-color layout	@white;
@define-color date		@black;
@define-color time		@white;

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  -gtk-icon-shadow: 0px 0px 0px transparent;
}

/* The whole bar */
#waybar {
  background: @black;
  color: @white;
  font-family: FiraCode Nerd Font Mono, Siji;
  font-size: 14pt;
  /*font-weight: bold;*/
}

/* Each module */
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#wireplumber,
#temperature,
#tray,
#custom-work,
#custom-user,
#idle_inhibitor,
#disk,
#user,
#mpris {
  padding-left: 8pt;
  padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,


/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,


/* And now modules themselves in their respective order */

/* Current sway mode (resize etc) */
#mode {
  color: @black;
  background: @mode;
}

/* Workspaces stuff */
#workspaces button {
  /*font-weight: bold;*/
  padding-left: 2pt;
  padding-right: 2.6pt;
  color: @white;
  background: @unfocused;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
  color: @white;
  background: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
  color: @white;
  background: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
  color: @black;
  background: @warning;
}

/* Style when cursor is on the button */
#workspaces button:hover {
  background: @white;
  color: @black;
}

#window {
  margin-right: 35pt;
  margin-left: 35pt;
}

#wireplumber {
  background: @memory;
  color: @black;
}

#network {
  background: @network;
  color: @black;
}

#memory {
  background: @memory;
  color: @black;
}

#cpu {
  background: @cpu;
  color: @black;
}

#temperature {
  background: @temp;
  color: @black;
}

#language {
  background: @layout;
  color: @black;
}

#tray {
  background: @date;
}

#clock.date {
  background: @date;
  color: @white;
}

#clock.time {
  color: @black;
  background: @white;
}

#custom-work {
  background: @purple;
  color: @white;
}

#custom-user {
  background: @white;
  color: @black;
}

#custom-column_invisible {
  font-size: 14pt;
  color: @black;
  background: @network;
}

#custom-column_black {
  font-size: 14pt;
  color: @black;
  background: @network;
}

#custom-arrow_right {
  padding-right: 3pt;
  font-size: 14pt;
  color: @white;
  background: transparent;
}

#custom-arrow_left {
  padding-left: 3pt;
  font-size: 14pt;
  color: @white;
  background: transparent;
}
