/***** SUGGESTED TO CHANGE CAREFULLY *****/

/* Recommended if panel "height" unset or smaller then your theme default button height */
button {
  margin: 2px;
}

/* SwayTaskBar and SwayWorkspaces use custom widgets, that need this and the next name
   to highlight currently focused task / workspace. */
#task-box {
  padding-left: 4px;
  padding-right: 4px;
}

#task-box-focused {
  background-color: rgba (255, 255, 255, 0.12);
  padding-left: 4px;
  padding-right: 4px;
}

/***** MODIFY TO YOUR TASTE *****/

/* Controls window in sample config uses this name */
#controls-window {
  border-radius: 15px;
  background: #36364f;
  color: #eeeeee;
}
#controls-window scale value {
  color: #eeeeee;
}

/* Brightness slider popup window in sample config uses this name */
#brightness-popup {
  border-radius: 15px;
  background: #36364f;
  color: #eeeeee;
}
#brightness-popup box {
  padding: 15px;
}

/* Executors usually behave better in monospace fonts */
#executor-label {
  font-family: monospace;
}

/* and so does the Clock */
#clock {
  /*font-family: monospace;*/
  /*font-size: 16px*/
}

/* Sample executor-weather uses "css-name": "weather" */
#weather {
  font-size: 16px;
}

/* Panel top */
#panel-top {
  /* background: #101010; */
  background: #202020;
  /* opacity: 0.8; */
  color: #eeeeee;
  font-weight: bold;
  padding: 2px;
}

#panel-top #sway-workspaces-item {
  /* workspaces that don't have windows */
  color: #404040;
}

#panel-top #workspace-occupied {
  /* workspace that has windows */
  color: #ffffff;
}

#panel-top #sway-workspaces-name {
  /* window name */
  color: #ffffff;
}

/* Panel bottom */
#panel-bottom {
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  padding: 2px;
}

#panel-bottom #task-box {
  background-color: #404040;
  font-weight: normal;
  color: #ffffff;
}

#panel-bottom #task-box-focused {
  background-color: #cad367;
  color: #000000;
}

#panel-bottom button {
  padding: 2px;
}

/* Playerctl */
#playerctl-text {
  font-weight: bold;
}

#playerctl-button {
  background-color: #000000;
  color: #ffffff;
}

#playerctl-button:hover {
  background-color: #008080;
  /* color: #00ffff; */
  outline: olivedrab;
  outline-width: 2px;
  border-radius: 2px;
  border-color: #ffffff;
}
