[Desktop Entry]
Name=Vesktop
Exec=vesktop --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto %U
Terminal=false
Type=Application
Icon=vesktop
StartupWMClass=Vesktop
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
